#load {
    position: fixed;
    z-index: 1;
    background: black;
    width: 100%;
    height: 100%;
}

#load img {
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 1;
    background: black;
    width: 40%;
    height: auto;
    animation: loding 850ms cubic-bezier(0.31, 0.16, 0.04, 1.16) 0s infinite normal forwards;
}

#load h1 {
    position: fixed;
    top: 80%;
    color: white;
    left: 30%;
    z-index: 1;
    text-align: center;
    background: black;
    width: 40%;
    height: auto;
}

@keyframes loding {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

button {
    border-radius:10px;
    border:none;
    background:white;
}

.run {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.export {
    position: absolute;
    right:2%;
}
#logs {
    font-family: sans-serif;
    font-size: 17px;
    position: fixed;
    max-height: 50vh;
    min-height: 20vh;
    word-break: break-all;
    bottom: 5vh;
    width: 20vw;
}

.h:hover #logs {
    width: 43%;
}
.h:hover {
    z-index:1;
    width: 43% !important;
}