#load {
    position: fixed;
    z-index: 1;
    background: black;
    width: 100%;
    height: 100%;
}

#load img {
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 1;
    background: black;
    width: 40%;
    height: auto;
    animation: loding 850ms cubic-bezier(0.31, 0.16, 0.04, 1.16) 0s infinite normal forwards;
}

#load h1 {
    position: fixed;
    top: 80%;
    color: white;
    left: 30%;
    z-index: 1;
    text-align: center;
    background: black;
    width: 40%;
    height: auto;
}

@keyframes loding {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

button {
    border-radius:10px;
    border:none;
    background:white;
}

.run {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.export {
    position: absolute;
    right: 18%;
    top: 2px;
}

.publish {
    position: absolute;
    right: 2%;
    top: 2px;
}

#logs {
    font-family: sans-serif;
    font-size: 17px;
    overflow: scroll;
    position: fixed;
    max-height: 70vh;
    min-height: 20vh;
    word-break: break-all;
    bottom: 15vh;
    width: 20vw;
}

.h:hover #logs {
    width: 43%;
}
.h:hover {
    z-index:1;
    width: 43% !important;
}

form {font-family: Arial, Helvetica, sans-serif;}
form {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 3vh;
  right: 0%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}